name: Build Layered Standard Network Communication

on:
  push:
    branches-ignore: [ 'temp/*' ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

jobs:
  build-ls-bus:
    name: Build Layered Standard Network Communication 
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4.1.7
      with:
        submodules: recursive
    
    - name: Generate revnumber
      run: |
        [[ $GITHUB_REF_TYPE == "tag" ]] && REVNUMBER=${GITHUB_REF:11} || REVNUMBER=${GITHUB_SHA:0:7}
        echo GITHUB_SHA:      $GITHUB_SHA
        echo GITHUB_REF_TYPE: $GITHUB_REF_TYPE
        echo GITHUB_REF:      $GITHUB_REF
        echo REVNUMBER:       $REVNUMBER
        echo "REVNUMBER=$REVNUMBER" >> $GITHUB_ENV
    
    - name: Create build directory
      run: |
        mkdir -p build/headers
        mkdir -p build/schema
        mkdir -p build/images/schema

    - name: Generate HTML
      uses: avattathil/asciidoctor-action@master
      with:
        program: asciidoctor --attribute=revnumber=${{ env.REVNUMBER }} --attribute=revdate=$(date +%F) docs/index.adoc

    - name: Create build directory
      run: |
        mkdir -p build/images/schema
        mkdir -p build/theme/css
        mkdir -p build/theme/images
        mkdir -p build/theme/js
    
    - name: Copy resources
      run: |
        cp LICENSE.txt build
        cp docs/index.html build
        cp docs/images/*.svg build/images
        cp docs/images/schema/*.png build/images/schema
        cp docs/theme/css/*.css build/theme/css
        cp docs/theme/images/*.svg build/theme/images
        cp docs/theme/js/*.js build/theme/js

    - name: Create ZIP archive
      uses: actions/upload-artifact@v4.4.0
      with:
        name: FMI-LS-BUS
        path: build/*
        if-no-files-found: error

    - name: extract branch name
      id: extract_branch
      shell: bash
      run: echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
    - name: deploy
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      uses: peaceiris/actions-gh-pages@v3.9.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build
        destination_dir: ${{ steps.extract_branch.outputs.branch }}
        enable_jekyll: true
